body, 
html{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

}

.about{
	height: 100vh;
	display: flex;
	flex-direction: row;
    /*flex-wrap: wrap;*/

}

.about-title{
	width: 50%;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10em;
	margin-left: 5em;
	margin-right: 10em;

}

.about-info{
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	margin-left: 5.1em;
	margin-right: 10em;
	margin-top: 25em;

}


.about-projects{
	width: 100%;
	overflow: scroll;
	scroll-behavior: smooth;

}

.about-projects div{
	height: 70vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	/*justify-content: space-around;*/

}

.about-projects div> p{
	font-size: .8em;
	color: #4A4A4A;
	display: flex;
	flex-direction: column;
	padding-left: 3rem;
	text-align: left;
	width: 70%;
}

.about-projects div> img{
  display: block;
  width: 70%;
  margin: 1px 0px 15px 15%;
  text-align: left;

}



.about-projects div:nth-child(1){
	background-color: #B9D6FE;
}
.about-projects div:nth-child(2){
	background-color: #FEEDB9
}
.about-projects div:nth-child(3){
	background-color: #FEB9B9	
}
.about-projects div:nth-child(4){
	background-color: #B7E8A5	
}

		/*blue colors*/
/*.about-projects div:nth-child(1){
	background-color: #7887AB;
}
.about-projects div:nth-child(2){
	background-color: #4F628E
}
.about-projects div:nth-child(3){
	background-color: #2E4172	
}
.about-projects div:nth-child(4){
	background-color: #7887AB	
*/

.button {
         background-color: #26466d;
         /*background-image: url();*/
         border: none;
         border-radius: 5px ;
         color: white;
         padding: 10px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }


h1 {
	font-size: 2.5rem;
	color: #2E3C4E;
}

h2 {
	font-size: 1.1rem;
	color: #4A4A4A;
}

h3 {
	font-size: .8rem;
	color: #4A4A4A;
	font-weight: bold;
	padding-top: 3rem;
	padding-left: 3rem;
}

